

img {
  border-radius: 50%;
}

h1{color:#4682B4;  font-family: Tahoma   , Helvetica, sans-serif; }

table{color:#4682B4;  font-family: Tahoma   , Helvetica, sans-serif; }

form{  font-family: Tahoma   , Helvetica, sans-serif; font-weight: bold;}

a {font-family: Tahoma   , Helvetica, sans-serif; font-weight: bold;}